<%- include('partials/header') %>
<div class="jumbotron">
    <h1>Selamat Datang di Hackommerce</h1>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</div>
