<%- include("./partials/header") %>
<body class="text-center">
  <form action="/register" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <p>Already have account? Please <a href="/login">login</a>.</p>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus><br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required><br>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required><br>
    <label for="inputFirstName" class="sr-only">First Name</label>
    <input type="text" name="first_name" id="inputFirstName" class="form-control" placeholder="First Name" required><br>
    <label for="inputLastName" class="sr-only">Last Name</label>
    <input type="text" name="last_name" id="inputLastName" class="form-control" placeholder="Last Name" required><br>
    <p>Choose membership option :</p>
    <input type="radio" name="membership_status" value="free" id="freeMembership" checked>
    <label for="freeMembership">Free Membership</label><br>
    <input type="radio" name="membership_status" value="pro" id="proMembership">
    <label for="proMembership">Pro Membership</label><br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
</body>
</html>